@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: #000000;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: #000000 !important;
}

/* Add custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}



.glass-morphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.book-card-hover {
  @apply transform transition-all duration-300 hover:scale-105 hover:shadow-2xl;
}

.animated-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2.5rem;
  padding: 2.5rem;
}

.book-item {
  position: relative;
  margin-bottom: 2.5rem;
  opacity: 0;
  animation: .6s ease-out forwards fadeIn;
  animation-delay: calc(var(--animation-order) * .1s);
}

.book-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.book-image {
  position: relative;
  z-index: 2;
  transform: translateY(0);
  transition: transform .3s;
  display: block;
  width: 100%;
  height: auto;
}

.book-content {
  margin-top: 1rem;
  transition: opacity .3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
